ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
}

html {
  height: 100%;
}

body {
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
}

footer{
  flex: 0;
}