@keyframes screw {
  0% {
    opacity: 0;
    transform: scale(.2) rotate(30deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: scale(1);
    opacity: 1;
  }

  81% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}