.breadcrumbs {
  flex-direction: row;
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  margin-bottom: 28px;  
}

.breadcrumbs__list{
 
}

.breadcrumbs__item, .breadcrumbs__item-link {
  display: inline-block;

}

.breadcrumbs__item-link{
  text-decoration: none;
  color: #cb2376;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item-link--active {
  color: #262424;
}