.discount {
  flex-flow: column wrap;
  background: url(../img/reviews_banner/pattern.png);
  background-color: #2b2b40;
}

.discount__text {
  text-align: center;
  padding: 25px 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Gotham Pro";
}

.discount-amount {
  font-family: "Gotham Pro";
  font-weight: 700;
  color: #cb2376;
}