@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro-lightitalic.woff2') format('woff2'),
    url('../fonts/gothampro-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro.woff2') format('woff2'),
    url('../fonts/gothampro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro-light.woff2') format('woff2'),
    url('../fonts/gothampro-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gothampro-bold.woff2') format('woff2'),
    url('../fonts/gothampro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
    url('../fonts/opensans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light.woff2') format('woff2'),
    url('../fonts/roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Gotham Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #221f1f;
  line-height: 1.42;
}
