.list {
  display: flex;
  flex-flow: row wrap;
}

.list__title-name {
  color: #262424;
  font-family: "Gotham Pro";
  font-size: 49px;
  height: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 4%;
}

.list__item {
  display: flex;
  border-bottom:2px solid #f4f4f4;
  padding-top: 2%;
}

.list__item:last-child {
  border: none;
}

.list__left-column {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 35px 15px;
  margin-right: 2%;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  min-width: 160px;
}

.list__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 160px;
  height: 160px;
}

.list__right-column {
  width: 80%;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.list__heading time {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  color: #656464;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding-bottom: 12px;
}

.list__heading h3 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 21px;
  padding-bottom: 15px;
}

.list__right-column p {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 30px;
}

