@import "./normalize.css";
@import "./addition.css";
@import "./index.css";
@import "./fonts.css";
@import "./welcome.css";
@import "./header.css";
@import "./nav.css";
@import "./dropdown.css";
@import "./animation.css";
@import "./banner.css";
@import "./breadcrumbs.css";
@import "./discount.css";
@import "./features.css";
@import "./form.css";
@import "./list.css";
@import "./partners.css";
@import "./socials.css";
@import "./tariffs.css";
@import "./pagination.css";
@import "./footer.css";