.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__item {
  display: inline-flex;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.socials__title {
  color: #262424;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 10px;
}

.socials__text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  /* background: #d3d3d7; */
  border-radius: 50%;
}

.socials__link:hover {
  cursor: pointer;
  background: #cb2376;
  transition: 0.4s;
}